@model Flower

@{
    ViewBag.Title = "Цветы";
    Layout = "_Layout";
}

<h2>Растение номер @ViewBag.FlowerId</h2>

<div>
    <label>Название</label>
    <div>@Model.Name</div>
    <label>Цена</label>
    <div>@Model.Price</div>
    <label>Уход</label>
    <div>@Model.Comfort</div>
    <label>Температура</label>
    <div>@Model.Temp</div>

</div>
