@model Flower

@{
    ViewBag.Title = "Цветы";
    Layout = "_Layout";
}
<h1>@Model.Name</h1>
<div>
    <label>Название</label>
    <div>@Model.Name</div>
    <label>Цена</label>
    <div>@Model.Price</div>
    <label>Уход</label>
    <div>@Model.Comfort</div>
    <label>Температура</label>
    <div>@Model.Temp</div>

</div>
